*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
}

.flex-container{
	display:flex;
}

.bg-black{
	background-color: black;
}

.bg-darkgrey{
	background-color: rgb(34, 34, 34);
}

.btn{
	margin:.2rem;
	padding:.2rem;
	font-size:.7rem;
	border-radius:.2rem;
	background-color: rgb(74, 74, 74)
}

header.flex-container,
footer.flex-container{
	height:8vh;
	color:white;
}

header.flex-container{
	align-items:flex-start;
	justify-content: flex-end;
}

main.flex-container{
	height:84vh;
	width:100vw;
	padding:0 1rem;
	flex-wrap:wrap;
	overflow-y: scroll;
	justify-content:center;
}

main.flex-container div.user{
	height:100px;
	min-width:180px;
	flex-basis:180px;
	position:relative;
	margin:.3rem .1rem;
	background-image: url(https://picsum.photos/seed/picsum/180/100);
}

main.flex-container div.user div.user-tag{
	left:0;
	bottom:0;
	padding:.3rem;
	font-size:.6rem;
	color:white;
	position:absolute;
	background-color:rgb(98, 110, 123, 0.4);
}