*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body{
	font-family: sans-serif;
}

.flex-container{
	display:flex;
}

.bg-black{
	background-color: black;
}

.bg-darkgrey{
	background-color: rgb(34, 34, 34);
}

.btn{
	margin:.2rem;
	padding:.2rem;
	font-size:.7rem;
	border-radius:.2rem;
	background-color: rgb(74, 74, 74)
}

.active{
	color:rgb(75, 200, 0);
}

.grow-1{
	flex-grow:1;
}

header.flex-container,
footer.flex-container{
	height:8vh;
	color:white;
}

header.flex-container{
	align-items:flex-start;
	justify-content: flex-end;
}

main.flex-container{
	height:84vh;
	width:100vw;
	padding:0 1rem;
	flex-wrap:wrap;
	overflow-y: scroll;
	justify-content:center;
}

main.flex-container div.user{
	height:100px;
	min-width:180px;
	flex-basis:180px;
	position:relative;
	margin:.3rem .1rem;
	background-image: url(https://picsum.photos/seed/picsum/180/100);
}

main.flex-container div.user div.user-tag{
	left:0;
	bottom:0;
	padding:.3rem;
	font-size:.6rem;
	color:white;
	position:absolute;
	background-color:rgb(98, 110, 123, 0.4);
}

footer.flex-container{
	font-size:.6rem;
	justify-content: center;
	align-items:center;
	text-align: center;
	justify-content: space-between;
}

footer div#left-navbar,
footer nav#center-navbar ul{
	align-items: center;
}

footer div.chevron{
	margin:0 .4rem;
}

footer div.chevron i{
	font-size:.3rem;
}

footer nav#center-navbar ul li{
	list-style: none;
	margin-right:.5rem;
	display: inline-block;
}

footer i{
	font-size:1.1rem;
	padding:.3rem;
}

